{% extends 'base.html.twig' %}

{% block body %}
<div>
<p><a href="{{ path('horscontrat_list') }}">liste des commandes hors contrats</a></p>
<p><a href="{{ path('horscontrat_new') }}">ajout de commande hors contrats</a></p>

</div>
{% endblock %}


