{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1>Produit creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary">Save</button>
    {{ form_end(form) }}

</div>
{% endblock %}
