{% extends 'base.html.twig' %}

{% block body %}
<div>
<p><a href="{{ path('contrat_list') }}">liste de contrats</a></p>
<p><a href="{{ path('contrat_new') }}">Nouveau contrat</a></p>
</div>
{% endblock %}


